#footer
{

background:blue;
color: red;
padding-top: 80px;
padding-bottom: 100px;


}

footer:hover
{
	color: blue;
	}

	.contain
	{

		width: 1170px;
	}

	.row
	{

		margin-left: -15px;
		margin-right: -15px;
	}

	.col-lg-4
	{
		width: 33.33%;
	}

	h3
	{

		font-size: 20px;
		color: #008A76;
	}