/* Styles go here */

.section-title{
  font-size: 3em;
  font-weight: 700;
  letter-spacing: 5px;
  text-align:center;
  text-transform: uppercase;
  padding: 30px 0;
}

.spacer{
  background-color:blue;
  width: 100px;
  height: 2px;
  margin: auto;
}

.subtitle p{
  font-size: 1.5em;
}
.subtitle {
  
  text-align: center;
  padding: 30px 0;
}

p{
  margin: 0 0 10px;
}
/* helllo*/
