/* Styles go here */

/** Jan **/
html, body {
	width: 100%;
	height: 100%;
	vertical-align: middle;
}

#portfolio {
	text-align: center;
	margin-top: 50px;
	margin-bottom: 30px;
}
h1 {
	color: #666;
}
h4 {
	margin-bottom: 30px;
	color: #888;
}


#portfolio-nav {
	text-align: center;
	width: 100%;
}

.centered-pills { text-align:center; }
.centered-pills ul.nav-pills { display:inline-block; }
.centered-pills li { display:inline; }
.centered-pills a { float:left; }
* html .centered-pills ul.nav-pills { display:inline; } /* IE6 */
*+html .centered-pills ul.nav-pills { display:inline; } /* IE7 */

#portfolio-images img {
	margin-top: 10px;
}
/** Juan **/
body, html{
	height: 100%;
}

.carousel-inner{
	height: 100%;
	width:100%;

}

#myCarousel {
    top:50px;    
}
.navbar {
    position:absolute;
    z-index:10;
    width:100%;
}




/** Daren **/
#page-profile{
	padding: 75px 0;
	
}

#page-contact{
	background:#CB60D3;
	color: #fff;
}
#page-contact{
	padding: 75px 0;
}

.container{
	width: 1170px;
}
.container{
	
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

div{
	display: block;
}

.section-header{
	text-align: center;
}

  *, *:before, *:after {
-moz-box-sizing: border-box;
box-sizing: border-box;
} 
div{
	display: block;
}
.container:before, .container:after {
display: table;
content: " ";
}
 .container:before, .container:after {
display: table;
content: " ";
}
.section-header{
	text-align: center;
}
.section-title{
	font-size: 3em;
	font-weight: 700;
	letter-spacing: 5px;
	text-align: center;
	color: #555;
	text-transform: uppercase;
	padding: 20px 0;
	
}

h2{
	font-family: Oxygen, sans-serif;
}

h2{
	margin-top: 20px;
	margin-bottom: 10px;
}

.spacer{
	background: #3498db;
}

.spacer{
	width:100px;
	height:2px;
	margin: auto;
}

.section-header p{
	font-size: 1.5em;
	float:middle;
}

.section-subtitle{
	text-align: center;
	padding: 30px 0;

}

p{
	margin: 0 0 10px;
	color: #000;
}

p{
	display: block;
	-webkit-margin-before: 1em;
	text-transform: uppercase;
	padding-top: 20px;
	padding-right: 0px;
	padding-bottom: 20px;
	padding-left: 0px;
	font-size: 12px;
}
h2{
	font-family: Oxygen, sans-serif;
	font-size: 30px;
	margin-top: 20px;
	margin-bottom: 10px;
	line-height: 1.1;
	display: block;
	-webkit-margin-before: 0.83em;
-webkit-margin-after: 0.83em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
}
.spacer{
	background:#fff;
	width: 100px;
	height: 2px;
	margin: auto;
}
.section-header p{
	font-size: 1.5em;
}
.section-subtitle{
	text-align: center;
	padding:30px 0;
}
p{
	margin: 0 0 10px;
	display: block;
-webkit-margin-before: 1em;
-webkit-margin-after: 1em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
}

.row{
	margin-right: -15px;
	margin-left: -15px;
	}
.col-md-3{
	width: 25%;
	float:left;
	position: relative;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
	
}

#page-profile .profile{
	border: 5px solid #333;
	width: 255px;
	height: 255px;
	margin: 0 20px 20px 0;
}

img{
	max-width:100%;
	vertical-align: middle;
	border: 0;
}

.col-md-9{
	width: 75%;
	float: left;
	position: relative;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
	
	
}



#page-skills{
	padding: 75px 0;
	background-size: #f7f7f7;
	text-align: center;
}

section{
	display:block;
}

.col-md-2{
	width: 16.666666666666664%;
	float: left;
	position: relative;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
}

.chart{
	position: relative;
	display: inline-block;
	width: 150px;
	height: 150px;
	margin-top: 50px;
	margin-bottom: 50px;
	text-align: center;
}

.percent{
	display: inline-block;
	line-height: 150px;
	z-index: 2;

}

h3{
	font-family: Oxygen, sans-serif;
	font-weight: 700;
	font-size: 24px;
	margin-top: 20px;
	margin-bottom: 10px;
	line-height: 1.1;
	color: #000;
	display: block;
-webkit-margin-before: 1em;
-webkit-margin-after: 1em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;

}

.chart canvas{
	position: absolute;
	top: 0;
	display: inline-block;
}
/** Shaira **/

/** Joy **/
#page-contact {
background: #3498db;
color: #fff;
padding:70px 0;
}
.row {
margin-right: -15px;
margin-left: -15px;
}
.row:before, .row:after {
display: table;
content: " ";
}
.row:after {
clear: both;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
position: relative;
min-height: 1px;
padding-right: 15px;
padding-left: 15px;
}
h1, h2, h3, h4, h5, h6 {
font-family: Oxygen,sans-serif;
font-weight: 700;
}
h3, .h3 {
font-size: 24px;
}
h1, h2, h3 {
margin-top: 20px;
margin-bottom: 10px;
}
.fa {
display: inline-block;
font-family: FontAwesome;
font-style: normal;
font-weight: normal;
line-height: 1;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}
.fa-map-marker:before {
content: "\f041";
}
.fa-phone:before {
content: "\f095";
}
form {
display: block;
margin-top: 0em;
}
*, *:before, *:after {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}
.btn.btn-default {
margin: 40px auto 0;
background: 0 0;
position: relative;
color: #000;
font-size: 1em;
text-transform: uppercase;
font-weight: 600;
text-align: center;
padding: 12px 26px;
cursor: pointer;
border: 2px solid #4cddf3;
border-radius: 0;
letter-spacing: 2px;
pointer-events: auto;
border-color: #000;
-webkit-transition: all .1s ease-in-out;
-moz-transition: all .1s ease-in-out;
-o-transition: all .1s ease-in-out;
transition: all .1s ease-in-out;
}
.btn-lg{
	display: block;
	width: 100%;
	line-height: 1.33;
}
.btn{
	white-space: nowrap;
	vertical-align: middle;
	-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
-o-user-select: none;
}
button{
	font-family: inherit;
	-webkit-appearance:button;
}
label{
	color: #000;
}
/*JOY ENDS HERE*/

/*--Shaira CSS--*/

.section-title{
  font-size: 3em;
  font-weight: 700;
  letter-spacing: 5px;
  text-align:center;
  text-transform: uppercase;
  padding: 30px 0;
}

.spacer{
  background-color:blue;
  width: 100px;
  height: 2px;
  margin: auto;
}

.subtitle p{
  font-size: 1.5em;
}
.subtitle {
  
  text-align: center;
  padding: 30px 0;
}

p{
  margin: 0 0 10px;
}
/*END*/
