


#intro{
	margin-top:auto;    
	display: table;
    height: auto;
    width:100%;
    padding: 200px;
    text-align: left;
    color: #fff;
    background:  url("https://pbs.twimg.com/profile_images/679250400/07-08-09_1622-001.jpg") no-repeat bottom center scroll  ;
    background-color: #009999;
}

html {
	width: 100%;
	height: 100%;
	vertical-align: middle;
}

body {
	width: 100%;
	height: 100%;
	vertical-align: middle;
	display: table;
}

#about {
	height: 100%;
	vertical-align: middle;
	display: table-cell;
}
#about h1 {
	text-align: center;
	margin: 40px;
}
#about-body {
		height: 100%;
		vertical-align: middle;
		display: table;
	}
#service{
	height: 450px;
  background:#DD64BF;
}

.welcome-note{
	text-align: center;
	font-family: 'existencelight';
	padding: 4em 0 5em 0;
}
.welcome-note h3{
	font-size: 4em;
	color: #252525;
}
.welcome-note p{
	color: #555;
	width: 34%;
	margin: 0 auto;
	margin-top: 0.5em;
	line-height: 1.5em;
}
.top-grid{
	float:left;
	width:31.33%;
	margin-right:auto;
	margin-left:auto;
	 font-family: 'existencelight';
}
.top-grid:last-child{
	margin-right:0;
}
.top-grid h3{
	font-size: 2.2em;
	color: #FFF;
}
.top-grid p{
	color:#fff;
	margin: 0.8em 0;
	line-height: 1.8em;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 0.875em;
	width: 96%;
}
.top-grid h3 img{
	vertical-align: middle;
	margin-right: 2%;
}
.top-grid-row {
	padding: 0em 0 3em 0;
	border-bottom: 1px solid #eee;
}
	#footer
body {
	width: 100%;
	height: 100%;
	vertical-align: middle;
	display: table;
}

#about {
	height: 100%;
	vertical-align: middle;
	display: table-cell;
}
#about h1 {
	text-align: center;
	margin: 40px;
}
#about-body {
		height: 100%;
		vertical-align: middle;
	}


#footer

{

background:#333;
color: red;
padding-top: 80px;
padding-bottom: 100px;


}



.contain {

	width: 1170px;
}

.row{

	margin-left: -15px;
	margin-right: -15px;
}

.col-lg-4{
	width: 33.33%;
}

h3{

	font-size: 20px;
	font-weight: 400;
	color: #008A76;
}

#footer p
{

	color: #fff;
	font-size: 14px;
}

p
{

	line-height: 28px;
	margin-bottom: 25px;
}
p{
	margin: 0 0 10px;
}
.fa{
	display: inline-block;
	font-family: FontAwesome;
	font-style:normal;
	font-weight:normal;
	line-height:1;
	-webkit-font-smoothing: antialiased;
}

#footer #social{

	margin: 20px auto 0px auto;
}

#social a{
	width: 28px;
	height: 28px;
	margin: 0 6px 6px 0;
	display: block;
	float: left;
	text-indent: -9999px;
	background-position: 0 0px;
	-webkit-transition: all 0.3s ease-in-out;
}


.facebook
{
	background: url(https://cdn1.iconfinder.com/data/icons/yooicons_set01_socialbookmarks/512/social_facebook_box_blue.png) no-repeat;


}

#footer h3
{

	font-size: 20px;
	font-weight: 400;
	color: #fff;
}

.form-inline .form-control
{

	display: inline;
	width: auto;
	vertical-align: middle;
}
.form-control
{

	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.75);
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.75);
	-webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.btn-theme {
background-color: #06979e;
color: #fff;
border-color: #06979e;
}

.btn {
display: inline-block;
margin-bottom: 0;
font-weight: 400;
text-align: center;
vertical-align: middle;
cursor: pointer;
background-image: none;
border: 1px solid transparent;
white-space: nowrap;
padding: 6px 12px;
font-size: 14px;
line-height: 1.42857143;
border-radius: 4px;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none
}

#copywrap {
background: #222;
padding-top: 20px;
font-size: 14px;
color: #bdc3c7;
}

.col-lg-10 {
width: 220%;

}

.col-lg-2 {
width: 16.66666667%;
}

h3
{
	float:left;
}
